<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BE_ProgettoSettimana2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/img/jordanlogo.png">
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <a class="navbar-brand ms-2" href="@Url.Action("Index", "Product")">
                <img src="~/img/jordanlogo.png" class="logo" alt="Alternate Text" /> Jordan Sneakers Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="@Url.Action("Index", "Product")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="@Url.Action("Create", "Product")">Aggiungi Prodotto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
        <main role="main" class="container">
            @RenderBody()
        </main>
   

    <footer class="footer mt-5 py-3 bg-danger text-black fixed-bottom">
        <div class="container text-center">
           <span class="text-dark">&copy; 2024 - TommasoDBM</span>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
